@import "./../../vars.scss";

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "image info info"
    "image info info";
}

.image {
  grid-area: image;
  min-height: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.image img {
  // width: inherit !important;
  min-width: -webkit-fill-available;
  max-width: 200px;
}

.info {
  display: grid;
  grid-gap: 20px;
  color: white;
  padding: 1rem;
}

.genres {
  height: min-content;
  margin: 1.5rem 0 1.5rem 0;
  h2 {
    margin: inherit;
  }
}

.genre {
  padding: 1rem;
  background-color: $greyColor;
  border-radius: 22px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: large;
  font-weight: 700;
}

.add-and-play-block {
  display: flex;
  align-items: baseline;

  h3 {
    margin-left: 10px;
  }

  .favorites {
    display: flex;
    align-items: baseline;
    justify-content: center;
    .fa-heart {
      cursor: pointer;
    }
  }

  .favorites-color {
    color: red;
  }

  .play {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 1rem;
    .fab {
      color: red;
      background-image: radial-gradient(at center, white 40%, transparent 40%);
      cursor: pointer;
    }
  }
}

.header-title {
  color: white;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-areas:
      "image image"
      "info info";
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-areas:
      "image"
      "info";
  }

  img {
    // width: inherit !important;
  }
}
