.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "image info info"
    "image info info";
}

.image {
  grid-area: image;
  min-height: 300px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.info {
  display: grid;
  grid-gap: 20px;
  color: white;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-areas:
      "image image"
      "info info";
  }

  .info h1 {
    font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-areas:
      "image"
      "info";
  }
}
