<div class="wrapper" *ngIf="movieDetails" [ngStyle]="{width: innerWidth + 'px'}">
    <section class="image" *ngIf="movieDetails && movieDetails.posterPath">
        <img [src]="movieDetails.posterPath" />
    </section>
    <section class="info" *ngIf="movieDetails">
        <div class="info-row">
            <div class="movie-title">
                <h1>{{movieDetails.title}}</h1>
            </div>
        </div>
        <div class=" info-row">
            <div class="year-info" *ngIf="movieDetails && movieDetails.releaseYear && movieDetails.runTime">
                <h2>{{movieDetails.releaseYear}} | {{movieDetails.runTime}}</h2>
            </div>
            <div class="genres">
                <h2>Genres</h2>
                <span class="genre" *ngFor="let genre of movieDetails.genres">{{genre.name.toUpperCase()}}</span>
            </div>
            <div class="add-and-play-block">
                <div class="favorites">
                    <span>
                        <i class="fas fa-heart fa-2x favorites-color" *ngIf="getIsFavorite(movieDetails)"
                            (click)="removeFromFavorites(movieDetails)"></i>
                        <i class="far fa-heart fa-2x" *ngIf="!getIsFavorite(movieDetails)"
                            (click)="addToFavorites(movieDetails)"></i>
                    </span>
                    <h3>Add To Favorites</h3>
                </div>
                <div class="play" *ngIf="video && video['key']">
                    <span>
                        <i class="fab fa-youtube fa-2x" (click)="openVideoModal()"></i>
                    </span>
                    <h3>Play Trailer</h3>
                </div>
            </div>
        </div>
        <div class="info-row">
            <div class="summary-info">
                <h2 class="summary-header">Summary</h2>
                <h3 class="summary-details">{{movieDetails.overview}}</h3>
            </div>
        </div>
    </section>
</div>
<div>
    <h2 class="header-title">Recommeneded For You</h2>
    <app-swiper-wrapper [movies]="recommendedMovies" (movieClickedEvent)="movieClicked($event)"></app-swiper-wrapper>
</div>