<header class="" role="banner">
    <div class="">
      <div>
        <mat-toolbar class="header-toolbar">
          <!-- <div class="logo" id="basic-logo">
            <img class="img-logo" src="../assets/img/tv_200.jpeg" alt="logo">
          </div> -->
          <div class="header-text" [routerLink]="['movies']">
            <span class="header-text-tv">TV</span>
            <span class="header-text-box">Box</span>
          </div>
          <span class="fill-space"></span>
          <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button id="menu" (click)="sidenav.toggle()">
              <mat-icon><i class="fas fa-bars fa-2x"></i></mat-icon>
            </button>
          </div>
          <span class="example-spacer"></span>
          <nav fxShow="true" fxHide.lt-md="true" role="navigation" class="" id="headerLinks">
            <ul class="headerLinks">
  
              <ng-container>
                <li class="header-link">
                  <a mat-button id="user" class="" routerLink="/movies">
                    <span>Home</span>
                  </a>
                </li>

                <li class="header-link">
                  <a mat-button id="newReleases" class="" routerLink="movies/new-releases">
                    <span>New Releases</span>
                  </a>
                </li>

                <li class="header-link">
                  <a mat-button id="popular" class="nav__link" routerLink="movies/popular">
                    <span>Popular</span>
                  </a>
                </li>

                <li class="header-link">
                  <a mat-button id="popular" class="nav__link" routerLink="movies/myfavorites">
                    <span>My Favorites</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </nav>
        </mat-toolbar>
        <mat-sidenav-container fxFlexFill class="container">
          <mat-sidenav
          class="sidenav"
                position="end"
                color="primary"
                #sidenav
                fxLayout="column"
                mode="over"
                opened="false"
                fxHide.gt-sm="true">
            <nav fxLayout="column">
              <ul class="sidenav-list">
  
                <ng-container>
                    <li class="header-link">
                      <a mat-button id="home" class="" routerLink="/movies">
                        <span>Home</span>
                      </a>
                    </li>

                    <li class="header-link">
                      <a mat-button id="newReleases" class="" routerLink="movies/new-releases">
                        <span>New Releases</span>
                      </a>
                    </li>
    
                    <li class="header-link">
                      <a mat-button id="popular" class="nav__link" routerLink="movies/popular">
                        <span>Popular</span>
                      </a>
                    </li>

                    <li class="header-link">
                      <a mat-button id="popular" class="nav__link" routerLink="movies/myfavorites">
                        <span>My Favorites</span>
                      </a>
                    </li>
                  </ng-container>
              </ul>
            </nav>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>
            <main id="main-content">
              <router-outlet></router-outlet>
              <app-footer></app-footer>
            </main>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </div>
  </header>
 