.header-text {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.headerLinks {
  color: white;
  list-style: none;
  display: flex;
}

.header-link a {
  color: white;
  font-size: larger;
  font-weight: 700;
}
