<div class="body">

  <!-- New Releases -->
  <div class="movie-header">
    <div class="">
      <a 
        id="latestMovieTitle"
        class="title"
        [routerLink]="['new-releases']">New Releases <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <div class="trendcard">
    <swiper [config]="config" class="swiper-container">
      <div class="swiper-wrapper" id="latestMovies">
        <div
          class="swiper-slide"
          *ngFor="let movie of latestMovies"
        >
          <div class="swiper_card" (click)="goToMovieDetails(movie)">
            <div *ngIf="movie.posterPath; else noPoster" class="swiper_pic">
              <img [src]="movie.posterPath" />
            </div>
            <ng-template #noPoster>
              <img [src]="src / assets / img / tv_200.jpeg" />
            </ng-template>
            <div class="movie_content">
              <h3 class="movieTitle">{{ movie.title }}</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>

  <!-- Most Popular Movies -->
  <div class="movie-header">
    <div class="">
      <a 
        id="popularMovieTitle"
        class="title"
        [routerLink]="['popular']">Most Popular <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <div class="trendcard">
    <swiper [config]="config" class="swiper-container">
      <div class="swiper-wrapper" id="popularMovies">
        <div
          class="swiper-slide"
          *ngFor="let movie of popularMovies"
          (click)="overview(movie)"
        >
          <div class="swiper_card" (click)="goToMovieDetails(movie)">
            <div *ngIf="movie.posterPath; else noPoster" class="swiper_pic">
              <img [src]="movie.posterPath" />
            </div>
            <ng-template #noPoster>
              <img [src]="src / assets / img / tv_200.jpeg" />
            </ng-template>
            <div class="movie_content">
              <h3 class="movieTitle">{{ movie.title }}</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>

  <!-- coming soon Movies -->
  <div class="movie-header">
    <div class="">
      <a 
        id="upcomingMovieTitle"
        class="title"
        [routerLink]="['popular']">Coming Soon <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <div class="trendcard">
    <swiper [config]="config" class="swiper-container">
      <div class="swiper-wrapper" id="upcomingMovies">
        <div
          class="swiper-slide"
          *ngFor="let movie of comingSoonMovies"
          (click)="overview(movie)"
        >
          <div class="swiper_card" (click)="goToMovieDetails(movie)">
            <div *ngIf="movie.posterPath; else noPoster" class="swiper_pic">
              <img [src]="movie.posterPath" />
            </div>
            <ng-template #noPoster>
              <img [src]="src / assets / img / tv_200.jpeg" />
            </ng-template>
            <div class="movie_content">
              <h3 class="movieTitle">{{ movie.title }}</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>

  <!-- my Favorite Movies -->
  <div *ngIf="myFavoriteMovies">
    <div class=" movie-header">
      <div class="">
        <a 
          id="favoriteMovieTitle"
          class="title"
          [routerLink]="['myfavorites']">My Favorites <i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>
    <div class="trendcard">
      <swiper [config]="config" class="swiper-container">
        <div class="swiper-wrapper" id="myFavoriteMovies">
          <div
            class="swiper-slide"
            *ngFor="let movie of myFavoriteMovies"
          >
            <div class="swiper_card" (click)="goToMovieDetails(movie)">
              <div *ngIf="movie.posterPath; else noPoster" class="swiper_pic">
                <img [src]="movie.posterPath" />
              </div>
              <ng-template #noPoster>
                <img [src]="src / assets / img / tv_200.jpeg" />
              </ng-template>
              <div class="movie_content">
                <h3 class="movieTitle">{{ movie.title }}</h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
    </div>
  </div>
</div>
