<div class="body">

  <!-- New Releases -->
  <div class="movie-header">
    <div class="">
      <a 
        id="latestMovieTitle"
        class="title"
        [routerLink]="['new-releases']">New Releases <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <app-swiper-wrapper [movies]="latestMovies"></app-swiper-wrapper>

  <!-- Most Popular Movies -->
  <div class="movie-header">
    <div class="">
      <a 
        id="popularMovieTitle"
        class="title"
        [routerLink]="['popular']">Most Popular <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <app-swiper-wrapper [movies]="popularMovies"></app-swiper-wrapper>

  <!-- coming soon Movies -->
  <div class="movie-header">
    <div class="">
      <a 
        id="upcomingMovieTitle"
        class="title"
        [routerLink]="['popular']">Coming Soon <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
  <app-swiper-wrapper [movies]="comingSoonMovies"></app-swiper-wrapper>

  <!-- my Favorite Movies -->
  <div *ngIf="myFavoriteMovies">
    <div class=" movie-header">
      <div class="">
        <a 
          id="favoriteMovieTitle"
          class="title"
          [routerLink]="['myfavorites']">My Favorites <i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>
    <app-swiper-wrapper [movies]="myFavoriteMovies"></app-swiper-wrapper>
  </div>
</div>
