<div class="">
    <div class="trendcard">
        <section class="movies-grid" *ngIf="sectionMovies && sectionMovies.length > 0; else noSearchResults">
            <div *ngFor="let movie of sectionMovies">
                <div *ngIf="movie.posterPath; else noPoster">
                    <div class="">
                        <div class="card" (click)="goToMovieDetails(movie)">
                            <img [src]="movie.posterPath" />
                            <ng-template #noPoster>
                                <img [src]="movie.posterPath" />
                            </ng-template>
                            <span class="movie_content">
                                <h3 class="movieTitle">{{ movie.title }}</h3>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #noSearchResults>
            <h3 class="no_results_message">Bummer - we couldn't find what you were looking for, but we thought you might
                like these.</h3>
            <app-swiper-wrapper [movies]="sectionMovies"></app-swiper-wrapper>
        </ng-template>
    </div>
</div>